.git
.vscode
.vscode-test
docs
src
test
toolchain
.gitignore
.yarnrc

**/tsconfig.json
**/eslint.config.mjs
.vscode-test.mjs
esbuild.js
**/*.map
**/*.ts
**/.vscode-test.*
**/test/**
**/yarn.lock
**/package-lock.json

*.vsix
